* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* variaveis */
:root {
    --color-background: #030207;
    --color-white: #fff;
    --color-blue: #1474b4;
}

body {
    background-color: var(--color-background);
    color: var(--color-white);
}

a {
    color: var(--color-blue);
}
/* elemento pai relativo para o elemento filho absoluto */
.hero {
    background: linear-gradient(rgba(0,0,0,0.1), var(--color-background));
    position: relative;
    min-height: 100vh; /* minimo de altura da tela*/
}
/* elemento filho absoluto com pai relativo*/
.hero__background{
    position: absolute;
    object-fit: cover;
    height: 100vh; 
    width: 100%;
    z-index: -1;
}

.hero__foreground{
    color:  var(--color-white);
    padding-top: 40vh; /*vh por conta da propriedade pai*/
    text-align: center; 
}

.hero__title{
    font-size: 5rem; /*5x fonte padrao do navegador*/
    font-weight: 300;
}

.hero__text{
    margin-top: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.section {
    padding: 0 8rem;
    text-align: center;
    overflow: hidden /*quando elementos filhos (float) transbordam*/;
}

.section__title{
    font-size: 3rem;
    font-weight: 300;
    margin: 4rem auto;
}

.section__img,
.section__img-inline {
    border-radius: .75rem;
    /* x, y, blur, expancao/recuo, cor */
    box-shadow: 0 1rem 2rem -0.5rem rgba(20,116,180, 0.25);
    object-fit: cover;
    object-position: top;
    position: relative;
    max-height: 30rem;
    width: 100%; /* 100% da largura da section*/
}

.section__text,
.section__text-inline {
    font-size: 1.25rem;
    line-height: 1.75; /* altura da linha em textos */
    margin: 4rem auto;
}

.section__img-inline{
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    float: left; /*flutua o elemento na direção desejada - sai do fluxo html */
    margin-right: 4rem;
    margin-bottom: 2rem;
    height: 25rem;
    width: 20rem;
}

.section__text-inline{
    text-align: left;
    margin-top: 6rem;
}

/* elementos p filhos da classe .sect... */
.section__text-inline > p {
    margin-top: 1.5rem;
}

#hangouts img{
    object-position: center;
}

.gallery__img{
    border-radius: .75rem;
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    transform: rotate(-2deg);
}

.gallery__img-wrapper{
    display: inline-block; /*devido que o span e inline*/
    position: relative; /*referencia para o pseudo elemento absolute*/
}

/* elemento que vem após um outro elemento */
.gallery__img-wrapper + .gallery__img-wrapper{
    margin-left: 3rem;
    margin-top: 3rem;
}

/* elementos par nos filhos gallery__img */
.gallery__img-wrapper:nth-child(even) > .gallery__img{
    top: 1rem;
    transform: rotate(2deg);
}

.gallery__img-wrapper::after{
    position: absolute; /* pseudo-elemento relativo ao elemento pai */
    content: "";
    display: block; /*quebra de linha*/
    background-color: rgb(228,26,26);
    /* dando a forma */
    height: 1.25rem;
    width: 1.25rem;
    top: 0.25rem;
    right: 1rem;
    border-radius: 100%;
}

/* elementos que sao par */
.gallery__img-wrapper:nth-child(even)::after{
    /*'inverter'*/
    left: 1rem;
}

footer{
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
}